{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<style>
body {
	background-color: #f4511e;
	color: #414141;
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	
}
p {
	color: #414141;
}
h1 {
	font-family: Montserrat, sans-serif;
	color: #eee;

}	
h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #414141;
	font-weight: 600;
	margin-bottom: 30px;
}
h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #414141;
	font-weight: 400;
	margin-bottom: 30px;
}
.container {
	background-color: #f4511e;

	padding: 15px 15px;
}
.jumbotron {
	background-color: #f4511e;
	color: #eee;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}
.container-fluid {
	padding: 60px 50px;
}
.bg-grey {
	background-color: #f6f6f6;
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}
</style>
{% endblock %}
{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ url_for('main.index') }}">Malphas</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('main.index') }}">Home</a></li>
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('main.parlor') }}">Parlor</a></li>
			<li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
			<li><a href="{{ url_for('main.messages') }}">Messages</a></li>Messages</a></li>
			{% endif %}
			<li><a href="{{ url_for('media.dev_channel') }}">ZodinDev Channel</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_anonymous %}
			<li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% else %}
			<li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			{% endif %}
		</ul>
	</div>

</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{% block app_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	function set_message_count(n) {
		$('#message_count').text(n);
		$('#message_count').css('visibility', n ? 'visible' : 'hidden');
		
	}
	{% if current_user.is_authenticated %}
	$(function() {
		var since = 0;
		setInterval(function() {
			$.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
				function(notifications) {
					for (var i = 0; i < notifications.length, i++) {
						switch (notifications[i].name) {
							case 'unread_message_count':
								set_message_count(notifications[i].data);
								break;
						}
						since = notifications[i].timestamp;
					}
				}
			);
		}, 10000);
	});
	{% endif %}
</script>
{% endblock %}
